
.header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 50px;
    word-spacing: 60px;
}
.header a {
    text-decoration: none;
    color: #ff0000;
}
.header .link{
    display: inline-block;
}

.content-title {
    text-transform: uppercase;
    text-align: center;
    padding: 48px;
}

.text {
    font-style: italic;
    text-align: center;
    margin-bottom: 66px;

}

.button {
    background-color: #ff0000;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    height: 50px;
    width: 200px;
    text-transform: uppercase;
    border-radius: 5px;

 }
.footer {

    text-align: right;
    margin: 80px;
}
.dark{
    background-color: #0A0909;
    color: #FFFFFF;
}